<div>
  <h2 id="page-heading" data-cy="QuizzHeading">
    <span jhiTranslate="quizzApp.quizz.home.title">Quizzes</span>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (quizzes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="quizzApp.quizz.home.notFound">No Quizzes found</span>
    </div>
  }

  @if (quizzes && quizzes.length > 0) {
    <div class="row row-cols-1 row-cols-md-3 g-4">
      @for (quizz of quizzes; track trackId) {
        <div class="col">
          <div class="card h-100 border-dark">
            @if (quizz.image) {
              <img [src]="'data:' + quizz.imageContentType + ';base64,' + quizz.image" class="card-img-top" alt="quizz image" />
            }

            <div class="card-body">
              <div class="d-flex justify-content-between">
                <h4 class="card-title">{{ quizz.title }}</h4>
              </div>
              <small class="card-text"
                ><span jhiTranslate="quizzApp.quizz.questionCount">Question Count</span> {{ quizz.questionCount }}</small
              >

              <h6 class="card-subtitle mb-2 text-muted"><span [innerHTML]="quizz.description"></span></h6>

              <p class="badge rounded-pill bg-primary" jhiTranslate="{{ 'quizzApp.Difficulty.' + quizz.difficulty }}">
                {{ quizz.difficulty }}
              </p>
              <p class="badge rounded-pill bg-primary" jhiTranslate="{{ 'quizzApp.Category.' + quizz.category }}">{{ quizz.category }}</p>
              <div class="d-flex justify-content-between align-items-center">
                @if (quizz && quizz.published) {
                  <a [routerLink]="['/quizz', quizz.id, 'play']" class="btn btn-sm btn-outline-primary" data-cy="entityPlayButton">
                    <fa-icon icon="play"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.play">Play</span>
                  </a>
                }
                <p>
                  <small class="text-muted"><span jhiTranslate="quizzApp.quizz.user">User</span>:{{ quizz.user?.login }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
