<div class="modal-body">
  <div class="justify-content-between">
    <div class="float-start">
      <span class="badge bg-primary"> {{ currentQuestionIndex + 1 }} / {{ answerList.length }} </span>
    </div>
    @if (timerEnabled) {
      <div class="float-end">
        <span class="badge bg-primary">
          <fa-icon icon="stopwatch"></fa-icon>
          <jhi-count-down [seconds]="remainingTime" (onTimeout)="finishAttempt()"></jhi-count-down>
        </span>
      </div>
    }
  </div>
  <p>Question 5 out of 5</p>
  <div class="justify-content-between">
    <ngb-progressbar class="mb-3" [showValue]="true" type="primary" [value]="answerCount" [max]="3" />
  </div>
  <jhi-alert-error></jhi-alert-error>
  <header></header>

  <h5>{{ answerList[currentQuestionIndex].question!.statement }}</h5>

  <div class="row">
    <jhi-play-form
      [question]="getCurrentQuestion()"
      [answer]="answerList[currentQuestionIndex]"
      (onChoiceMade)="updateChoice($event)"
    ></jhi-play-form>
  </div>
  <br />
  <footer></footer>
</div>
<div>
  @for (answer of attempt.answers; track answer.id; let idx = $index) {
    <button
      type="button"
      class="btn btn-circle btn-circle-sm m-1 {{ isAnswered(answer) == 'Answered' ? 'bg-info' : 'bg-danger' }}"
      (click)="goTo(idx)"
    >
      <span>{{ idx + 1 }}</span>
    </button>
  }
</div>
<div class="modal-footer justify-content-between">
  <button type="button" [disabled]="currentQuestionIndex === 0" class="btn btn-outline-primary" (click)="previousQuestion()">
    <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.previous">Previous</span>
  </button>
  <button type="button" *ngIf="currentQuestionIndex + 1 == answerList.length" class="btn btn-outline-primary" (click)="finishAttempt()">
    <fa-icon icon="flag-checkered"></fa-icon>&nbsp;<span jhiTranslate="entity.action.finish">Finish</span>
  </button>
  <button type="button" *ngIf="currentQuestionIndex + 1 != answerList.length" class="btn btn-outline-primary" (click)="nextQuestion()">
    <span jhiTranslate="entity.action.next">Next</span>&nbsp;<fa-icon icon="chevron-right"></fa-icon>
  </button>
</div>
