.option-block-container {
  margin-top: 20px;
  max-width: 420px;
}

.option-block {
  padding: 10px;
  background: aliceblue;
  border: 1px solid #84c5fe;
  margin-bottom: 10px;
  cursor: pointer;
}
