<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (attempt) {
      <div>
        <h2 data-cy="attemptDetailsHeading"><span jhiTranslate="quizzApp.attempt.detail.title">Attempt</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="quizzApp.attempt.id">Id</span></dt>
          <dd>
            <span>{{ attempt.id }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.quizz">Quizz</span></dt>
          <dd>
            @if (attempt.quizz) {
              <div>
                <a [routerLink]="['/quizz', attempt.quizz.id, 'view']">{{ attempt.quizz.title }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.user">Player</span></dt>
          <dd>
            <span>{{ attempt.user?.login }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.score">Score</span></dt>
          <dd>
            <div class="progress-percentage-wrapper">
              <div class="progress-percentage ng-cloak">{{ current! / max! | percent }}</div>
              <round-progress [current]="current" [max]="max" [rounded]="true" [radius]="100" [stroke]="20" [color]="'#fa6f04'" />
            </div>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.correctAnswerCount">Correct Answercount</span></dt>
          <dd>
            <span>{{ attempt.correctAnswerCount }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.wrongAnswerCount">Wrong Answer Count</span></dt>
          <dd>
            <span>{{ attempt.wrongAnswerCount }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.unansweredCount">Unanswered Count</span></dt>
          <dd>
            <span>{{ attempt.unansweredCount }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.duration">Duration</span></dt>
          <dd>
            <span>{{ attempt.ended!.diff(attempt.started) | duration }}</span>
          </dd>
          <dt><span jhiTranslate="quizzApp.attempt.answers">Questions</span></dt>
          <dd>
            <div>
              <ul class="list-group">
                @for (answer of attempt.answers; track $index) {
                  <h6 class="">{{ $index + 1 }}. <span [innerHTML]="answer.question!.statement"></span></h6>
                  <li
                    class="list-group-item d-flex justify-content-between {{
                      answer.correct === true ? 'list-group-item-success' : 'list-group-item-danger'
                    }}"
                  >
                    <span class="">{{ answer.option!.statement }}</span>
                    <!-- <span style="float: right">
                        @if (answer.correct === true ) {
                          <fa-icon icon="check"></fa-icon>
                        }
                        @if (answer.correct === false ) {
                          <fa-icon icon="times"></fa-icon>
                        }
                      </span> -->
                    <span>
                      <fa-icon
                        [icon]="answer.correct === true ? 'check' : 'times'"
                        aria-hidden="true"
                        class="{{ answer.correct === true ? 'text-success' : 'text-danger' }}"
                      ></fa-icon>
                    </span>
                    <br />
                  </li>
                }
              </ul>
            </div>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/attempt', attempt.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
