<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-question-heading" data-cy="QuestionCreateUpdateHeading" jhiTranslate="quizzApp.question.home.createOrEditLabel">
        Create or edit a Question
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="quizzApp.question.id" for="field_id">Id</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="quizzApp.question.statement" for="field_statement">Statement</label>
          <input type="text" class="form-control" name="statement" id="field_statement" data-cy="statement" formControlName="statement" />
          @if (editForm.get('statement')!.invalid && (editForm.get('statement')!.dirty || editForm.get('statement')!.touched)) {
            <div>
              @if (editForm.get('statement')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('statement')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }"
                  >This field is required to be at least 1 characters.</small
                >
              }
              @if (editForm.get('statement')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }"
                  >This field cannot be longer than 255 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="quizzApp.question.index" for="field_index">Index</label>
          <input type="number" class="form-control" name="index" id="field_index" data-cy="index" formControlName="index" />
          @if (editForm.get('index')!.invalid && (editForm.get('index')!.dirty || editForm.get('index')!.touched)) {
            <div>
              @if (editForm.get('index')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('index')?.errors?.number" jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="quizzApp.question.correctOptionIndex" for="field_correctOptionIndex"
            >Correct Option Index</label
          >
          <input
            type="number"
            class="form-control"
            name="correctOptionIndex"
            id="field_correctOptionIndex"
            data-cy="correctOptionIndex"
            formControlName="correctOptionIndex"
          />
          @if (
            editForm.get('correctOptionIndex')!.invalid &&
            (editForm.get('correctOptionIndex')!.dirty || editForm.get('correctOptionIndex')!.touched)
          ) {
            <div>
              @if (editForm.get('correctOptionIndex')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('correctOptionIndex')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="quizzApp.question.quizz" for="field_quizz">Quizz</label>
          <select class="form-control" id="field_quizz" data-cy="quizz" name="quizz" formControlName="quizz" [compareWith]="compareQuizz">
            <option [ngValue]="null"></option>
            @for (quizzOption of quizzesSharedCollection; track $index) {
              <option [ngValue]="quizzOption">{{ quizzOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
