<div class="modal-header">
  <h4 class="modal-title" data-cy="quizzPlayDialogHeading">{{ quizz.title }}</h4>
  @if (!PlayModeEnum.PLAYING) {
    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  }
</div>
@switch (mode) {
  @case (PlayModeEnum.WELCOME) {
    <jhi-welcome [quizz]="quizz"></jhi-welcome>
    <div class="start_btn">
      <button (click)="displayRules()">Start Quiz</button>
    </div>
  }
  @case (PlayModeEnum.RULES) {
    <jhi-rules [quizz]="quizz"></jhi-rules>

    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
      </button>
      <button type="button" class="btn btn-primary" (click)="startQuizz()">Continue</button>
    </div>
  }
  @case (PlayModeEnum.PLAYING) {
    @if (newAttempt) {
      <jhi-questions [quizz]="quizz" [attempt]="newAttempt" (onNextStep)="displayResult()"></jhi-questions>
    }
  }
  <!-- @case (PlayModeEnum.SUMMARY) {
    <jhi-sumary [quizz]="quizz" [attempt]="attempt"></jhi-sumary>
  } -->
  @case (PlayModeEnum.RESULTS) {
    <jhi-results [quizz]="quizz" [attempt]="newAttempt"></jhi-results>

    <div class="modal-footer justify-content-between">
      <button id="jhi-replay-quizz" data-cy="entityReplayButton" class="btn btn-outline-primary" (click)="retry()">
        <fa-icon icon="rotate"></fa-icon>&nbsp;<span jhiTranslate="entity.action.retry">Retry</span>
      </button>
      <button id="jhi-close-quizz" data-cy="closeButton" class="btn btn-danger" (click)="close()">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.close">Close</span>
      </button>
    </div>
  }
}
