<form name="playForm" role="form" novalidate [formGroup]="playForm">
  <ul class="list-group col-12">
    <div class="row">
      @for (option of question.options; track option.id) {
        <li class="list-group-item btn-outline-primary col-md-6">
          <input class="form-check-input me-1" [id]="option.id" type="radio" formControlName="choice" [value]="option.id" />
          <label class="form-check-label stretched-link" [for]="option.id">{{ option.statement }}</label>
        </li>
      } @empty {
        <li>There are no items.</li>
      }
    </div>
  </ul>
</form>
