<div class="modal-body">
  <jhi-alert-error></jhi-alert-error>

  <div class="info_title"><span>Some rules of this Quiz</span></div>
  <div class="info_list">
    <div class="info">1. You will have only <span>15 seconds</span> per each question.</div>
    <div class="info">2. Once you will select your answer, it can't be undone.</div>
    <div class="info">3. You can't select any option one time goes off.</div>
    <div class="info">4. You can't exit from the Quizz once started.</div>
  </div>
</div>
